@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Montserrat:wght@100;300;500;900&family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$colores: (
    color1: #120907,
    color2: #231e2f,
    color3: #5c5a79,
    color4: #999cd2,
    color5: #d8deed,
    color6: #efb810,
    color7: #000,
    color8: #232634,
    color9: #ffffff,
    color10: #1f53c5,
    color11: #1a1a1a);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($colores, color5);
    background-size: cover;
}

/* =================== INDEX =================== */

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 45px;
}

.fondo-nav {
    background-color: map-get($colores, color1);
}

.navbar img {
    width: 50px;
    height: 50px;
    transition: all 0.7s;
}

#collapsibleNavbar {
    justify-content: center;

    .nav-link {
        transition: all 0.7s;

        &:hover {
            transition: all 0.7s;
            font-size: 17px;
            color: map-get($colores, color6);
        }
    }

    .wpp {
        height: 35px;
        width: 35px;
        margin-left: 60px;
    }
}

.index {
    background-image: url(images/imagen.jpg);
    background-size: cover;
    height: 90vh;
}

.iright {
    margin-top: 150px;
    color: map-get($colores, color5);
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    h1 {
        font-weight: 500;
    }

    h2 {
        font-weight: 300;
        font-size: 22px;
    }
}

/* =================== HABILIDADES =================== */
.habilidades {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.programas-h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.programas-h3 {
    @extend .programas-h2;
}

.card {
    margin: 10px 10px 10px 10px;
    max-height: 330px;
    max-width: 400px;
    align-items: center;
    box-shadow: 2px 2px 5px map-get($colores, color7);
    overflow: hidden;
    transition: all 0.7s;

    &:hover {
        max-height: 700px;
        max-width: 400px;
        transition: all 0.7s;
    }
}

.programas {
    background-color: map-get($colores, color5);
    width: 100%;
    min-height: 90vh;
    max-height: 2700px;
}

.rowprog {
    justify-content: center;
}

.card-img-top {
    height: 270px;
    width: 270px;
}

/* =================== SOLICITUD =================== */

.tuto {
    background-color: map-get($colores, color4);
    text-align: center;
}

.correo {
    border-bottom: 2px solid map-get($colores, color7);
    text-align: center;
}

@mixin sizes($height, $width) {
    height: $height;
    width: $width;
}

.cleft img {
    @include sizes(300px, 300px)
}

.cright {
    padding: 10px 20px 10px 10px;
    align-self: center;
}

.idea {
    @extend .correo;
}

.idleft img {
    @include sizes(300px, 300px)
}

.idright {
    @extend .cright;
}

.reloj {
    @extend .correo;
}

.rleft img {
    @include sizes(300px, 300px)
}

.rright {
    @extend .cright;
}

.entrega {
    @extend .correo;
}

.eleft img {
    @include sizes(300px, 300px)
}

.eright {
    @extend .cright;
}

.dinero {
    text-align: center;
}

.dleft img {
    @include sizes(300px, 300px)
}

.dright {
    @extend .cright;
}

/* =================== INFO =================== */
#foto {
    border-style: solid;
    border-radius: 10px;
    border-color: map-get($colores, color2);
    width: 200px;
    height: 260px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 7px 13px 37px map-get($colores, color7);
}
.info {
    min-height: 90vh;
}

.row-imagen {
    text-align: center;
}

.row-datos {
    text-align: center;
}

.row-location {
    text-align: center;

    iframe {
        border-radius: 30px;
        border-style: solid;
        border-color: map-get($colores, color7);
        box-shadow: 7px 13px 20px map-get($colores, color7);
        margin-bottom: 15px;
        max-width: 100%;
        width: 500px;
        height: 400px;
    }
}

.button {
    cursor: pointer;
}

/* =================== PROYECTOS =================== */

.proyecto__container{
    position: relative;
    height: 90vh;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;

    h2{
        padding-bottom: 30px;
    }
    img{
        width: 100%;
        height: 500px;
    }
}


/* =================== CONTACTO =================== */

.formulario {
    height: 800px;
    max-width: 100%;
    min-height: 90vh;
    background-color: map-get($colores, color5);
}

.form-register {
    width: 400px;
    height: 770px;
    background-color: map-get($colores, color8);
    padding: 10px 30px 10px 30px;
    margin: auto;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    color: map-get($colores, color9);
    box-shadow: 7px 13px 37px map-get($colores, color7);
    margin-top: 20px;

    label {
        font-family: 'Roboto', sans-serif;
        font-style: initial;
        color: map-get($colores, color9);
        padding: 2px;
    }

    .button {
        width: 100%;
        background: map-get($colores, color10);
        border: none;
        padding: 12px;
        color: map-get($colores, color9);
        margin: 16px 0;
        font-size: 16px;
    }

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    textarea {
        width: 340px;
        height: 150px;
        resize: none;
    }
}

.controls {
    width: 100%;
    background: map-get($colores, color11);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid map-get($colores, color10);
    font-family: 'Roboto', sans-serif;
    color: map-get($colores, color9);
    font-size: 18px;
}

/* =================== FOOTER =================== */

footer {
    position: absolute;
    width: 100%;
}

/* =================== LOADER =================== */

  /* DOT */
  @keyframes dot1 {
	3%,97% {
		width: 160px;
		height: 100px;
		margin-top: -50px;
		margin-left: -80px;
	}
	30%,36% {
		width: 80px;
		height: 120px;
		margin-top: -60px;
		margin-left: -40px;
	}
	63%,69% {
		width: 40px;
		height: 80px;
		margin-top: -40px;
		margin-left: -20px;
	}
}
@keyframes dot2 {
	3%,97% {
		width: 150px;
		height: 90px;
		margin-top: -45px;
		margin-left: -75px;
	}
	30%,36% {
		width: 70px;
		height: 96px;
		margin-top: -48px;
		margin-left: -35px;
	}
	63%,69% {
		width: 32px;
		height: 60px;
		margin-top: -30px;
		margin-left: -16px;
	}
}
@keyframes dot3 {
	3%,97% {
		width: 40px;
		height: 20px;
		margin-top: 50px;
		margin-left: -20px;
	}
	30%,36% {
		width: 8px;
		height: 8px;
		margin-top: 49px;
		margin-left: -5px;
		border-radius: 8px;
	}
	63%,69% {
		width: 16px;
		height: 4px;
		margin-top: -37px;
		margin-left: -8px;
		border-radius: 10px;
	}
}
#onload{
    position: fixed;
    z-index: 999999;
    background: map-get($colores , color1);
    width: 100%;
    height: 100%;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
    >.dot {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		width: 160px;
		height: 100px;
		margin-top: -50px;
		margin-left: -80px;
		border-radius: 5px;
		background-color: #1e3f57;
		transform-style: preserve-3d;
		animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
		&:nth-child(2) {
			z-index: 11;
			width: 150px;
			height: 90px;
			margin-top: -45px;
			margin-left: -75px;
			border-radius: 3px;
			background-color: #3c617d;
			animation-name: dot2;
		}
		&:nth-child(3) {
			z-index: 12;
			width: 40px;
			height: 20px;
			margin-top: 50px;
			margin-left: -20px;
			border-radius: 0 0 5px 5px;
			background-color: #6bb2cd;
			animation-name: dot3;
		}
	}
}

/* =================== MEDIA QUERY <320 PX =================== */

@media only screen and (min-width:0px) and (max-width:319px) {
    body {
        display: none;
    }
}

/* =================== MEDIA QUERY 430 PX =================== */

@media only screen and (min-width:320px) and (max-width:430px) {
    .form-register {
        width: 300px;

        .button {
            width: 270px;
        }

        textarea {
            width: 250px;
        }
    }

    .controls {
        width: 270px;
    }
}